USE [VENTAS]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 01/15/2012 10:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
DROP TABLE CLIENTES
CREATE TABLE [dbo].[CLIENTES](
	[CLIENTE] [nchar](11) NOT NULL,
	[NOMBRE] [nchar](100) NULL,
	[DIRECCION] [nchar](200) NULL,
	[TIPOCLI] [nchar](2) NULL,
	[MAIL] [nchar](50) NULL,
	[FONO] [nchar](12) NULL,
	[USUARIO] [char](10) NULL,
	[FECHA] [smalldatetime] NOT NULL DEFAULT (getdate()),
	[ESTADO] [char](1) NULL DEFAULT ('A'),
PRIMARY KEY CLUSTERED 
(
	[CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF