USE [VENTAS]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 01/14/2012 22:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CLIENTE]	nchar(11) NOT NULL PRIMARY KEY,
	[NOMBRE]	nchar(50) NOT NULL,
	[DIRECCION] nchar(100) NOT NULL,
	[TIPOCLI]	nchar(2) NOT NULL ,
	[MAIL]		nchar(3) NOT NULL,
	[FONO]		nchar(10) NOT NULL,
	[USUARIO]   char(10) NOT NULL,
	[FECHA]		SMALLDATETIME DEFAULT GETDATE() NOT NULL,
	[ESTADO]	CHAR(1) DEFAULT 'A' NOT NULL
)
ON [PRIMARY]
GO
