USE [VENTAS]
GO
/****** Object:  View [dbo].[View_ARTICULOS_TIENDA]    Script Date: 01/15/2012 08:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ARTICULOS_TIENDA]
AS
SELECT  dbo.ARTICULOS.TIENDA, dbo.ARTICULOS.CODIGO, RSFACCAR.dbo.AL0012ARTI.AR_CDESCRI AS DESCRI, dbo.ARTICULOS.STOCK, dbo.ARTICULOS.MINIMO, 
        RSFACCAR.dbo.AL0012ARTI.AR_CUNIDAD, RSFACCAR.dbo.AL0012ARTI.AR_CMONVTA, RSFACCAR.dbo.AL0012ARTI.AR_NIGVPOR, dbo.ARTICULOS.LISTA1, 
        dbo.ARTICULOS.LISTA2, dbo.ARTICULOS.LISTA3, dbo.ARTICULOS.USUARIO, dbo.ARTICULOS.FECHA, dbo.ARTICULOS.ESTADO
FROM         RSFACCAR.dbo.AL0012ARTI 
INNER JOIN   dbo.ARTICULOS ON RSFACCAR.dbo.AL0012ARTI.AR_CCODIGO = dbo.ARTICULOS.CODIGO
