USE [VENTAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_TABLA_DINAMICA]    Script Date: 20/01/2016 09:51:17 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_TABLA_DINAMICA]

	@INI	char(10),
	@FIN	char(10),
	@MES	INT,
	@ANO	INT
AS

BEGIN

SET DATEFORMAT DMY;
SET LANGUAGE SPANISH;


	select DISTINCT TOP 100 PERCENT  
	YEAR(VV.FECHA) AS ANIO, MONTH(VV.FECHA) AS NMES, UPPER(DATENAME(mm, VV.FECHA)) AS MES, 
	VV.TIENDA AS CTDA, TT.DESCRIPCION AS TIENDA, UPPER(VV.CODART) AS CODIGO, 
	LEFT(VV.CODART,5) AS GRUPO, UPPER(SUBSTRING ( VV.CODART ,9, 2)) AS COLOR, 
	UPPER(SUBSTRING ( VV.CODART ,6, 3)) AS TALLA, 	CODM, MARCA, CLIN AS CTIP, LINEA AS TIP_PDA, 
	ISNULL(CGEN,'G') AS CGEN, ISNULL(DGEN,'GENERICO') AS GENERO,
	VV.DESCRI collate Modern_Spanish_CI_AI AS DESCRI, 
	SUM (SALE) AS QTY_VTA, (AA.STOCK) AS STK ,
	COSTO,SUM(PRECIO)/SUM(SALE) AS UNIT, 
	SUM(PVP-IGV) AS PVP, AVG(PORDES) AS PORDES, SUM(DCT) AS DCT, SUM(IGV) AS IGV, SUM(PVP) AS TOT, 
	isnull(te.descripcion, '') as DTEM

	INTO #TMP1
	FROM VIEW_VENTAS_ARTICULO AS VV
	INNER JOIN TIENDAS AS TT ON  TIENDA = CODIGO
	INNER JOIN VIEW_ARTICULOS_TIENDA AS AA ON AA.TIENDA = VV.TIENDA AND AA.CODIGO = VV.CODART
	INNER JOIN COSTOS CC ON CC.CODIGO = LEFT(CODART,5)
	FULL OUTER JOIN TEMPORADAS AS TE ON (ltrim(rtrim(te.codigo)) collate Modern_Spanish_CI_AI =  RIGHT(RTRIM(VV.DESCRI),4) 
									 OR  ltrim(rtrim(te.codigo)) collate Modern_Spanish_CI_AI =  RIGHT(RTRIM(VV.DESCRI),2))
	FULL OUTER JOIN VIEW_GENERO_PRENDA GG ON LEFT(VV.CODART,5) = LEFT(GG.ART,5)

	WHERE SALE > 0 and isnull(pvp,0) > 0 
	AND VV.TIENDA < '20' 
	AND VV.FECHA between @INI AND DateAdd(day,1,@FIN) 

	GROUP BY VV.CODART, VV.DESCRI,  YEAR(VV.FECHA), DATENAME(mm, VV.FECHA), TT.DESCRIPCION, MONTH(VV.FECHA), 
			 VV.TIENDA, AA.STOCK, CODM, CLIN, MARCA, LINEA,COSTO, CGEN, DGEN,RIGHT(RTRIM(VV.DESCRI),4), TE.DESCRIPCION


	SELECT  DISTINCT TOP 100 PERCENT   @ANO  AS ANIO, @MES AS NMES, UPPER(DATENAME(mm, @INI)) AS MES, 
	VV.TIENDA AS CTDA, TT.DESCRIPCION AS TIENDA, UPPER(VV.CODIGO) AS CODIGO, 
	LEFT(VV.CODIGO,5) AS GRUPO, UPPER(SUBSTRING ( VV.CODIGO ,9, 2)) AS COLOR, 
	UPPER(SUBSTRING ( VV.CODIGO ,6, 3)) AS TALLA, 	CODM,MARCA, CLIN AS CTIP, LINEA AS TIP_PDA, 
	ISNULL(CGEN,'G') AS CGEN, ISNULL(DGEN,'GENERICO') AS GENERO,
	VV.DESCRI, 
	0 AS QTY_VTA, (VV.STOCK) AS STK ,
	COSTO, LISTA1*(1+(AR_NIGVPOR/100)) AS UNIT, 
	LISTA1 AS PVP, 0 AS PORDES, 0 AS DCT, 0 AS IGV, 0 AS TOT, 
	isnull(te.descripcion, '') as DTEM
	INTO #TMP2
FROM VIEW_ARTICULOS_TIENDA AS VV
INNER JOIN TIENDAS AS TT ON  TIENDA = TT.CODIGO
FULL OUTER JOIN VIEW_GENERO_PRENDA GG ON LEFT(VV.CODIGO,5) = LEFT(GG.ART,5)
INNER JOIN COSTOS CC ON CC.CODIGO= LEFT(VV.CODIGO,5) 
full outer join temporadas as te on (ltrim(rtrim(te.codigo)) collate Modern_Spanish_CI_AI =  RIGHT(RTRIM(VV.DESCRI),4) 
  							     or ltrim(rtrim(te.codigo)) collate Modern_Spanish_CI_AI =  RIGHT(RTRIM(VV.DESCRI),2))
WHERE	NOT VV.CODIGO IS NULL 


SELECT DISTINCT ISNULL(T1.ANIO,T2.ANIO) AS ANIO, ISNULL(T1.NMES,T2.NMES) AS NMES, ISNULL(T1.MES, T2.MES) AS MES,
ISNULL(T1.CTDA, T2.CTDA) AS CTDA, ISNULL(T1.TIENDA, T2.TIENDA) AS TIENDA, ISNULL(T1.CODIGO ,T2.CODIGO ) AS CODIGO,
ISNULL(T1.GRUPO ,T2.GRUPO ) AS GRUPO, ISNULL(T1.COLOR ,T2.COLOR ) AS COLOR, ISNULL(T1.TALLA ,T2.TALLA ) AS TALLA, 
ISNULL(T1.CODM,T2.CODM) AS CODM, ISNULL(T1.MARCA,T2.MARCA) AS MARCA, ISNULL(T1.CTIP,T2.CTIP) AS CTIP, ISNULL(T1.TIP_PDA,T2.TIP_PDA) AS TIP_PDA,
ISNULL(T1.CGEN,T2.CGEN) AS CGEN, ISNULL(T1.GENERO,T2.GENERO) AS GENERO, ISNULL(T1.DESCRI,T2.DESCRI) AS DESCRI,
ISNULL(T1.QTY_VTA,T2.QTY_VTA) AS QTY_VTA, ISNULL(T1.STK,T2.STK) AS STK, ISNULL(T1.COSTO,T2.COSTO) AS COSTO,
ISNULL(T1.UNIT,T2.UNIT) AS UNIT, ISNULL(T1.PVP,T2.PVP) AS PVP, ISNULL(T1.PORDES,T2.PORDES) AS PORDES,
ISNULL(T1.DCT,T2.DCT) AS DCT, ISNULL(T1.IGV,T2.IGV) AS IGV, ISNULL(T1.TOT,T2.TOT) AS TOT, ISNULL(T1.DTEM,T2.DTEM) AS DTEM

FROM #TMP1 AS T1 FULL OUTER JOIN #TMP2 AS T2 ON T1.CODIGO = T2.CODIGO AND T1.TIENDA= T2.TIENDA
WHERE ISNULL(T1.CTDA, T2.CTDA) < '20'

DROP TABLE #TMP1
DROP TABLE #TMP2

	
END


