USE [VENTAS]
GO
/****** Object:  View [dbo].[VIEW_GRUPOS]    Script Date: 07/01/2012 11:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER VIEW [dbo].[VIEW_GRUPOS]
AS
SELECT A1.TIENDA, A1.CODIGO, A2.TG_CCLAVE AS GRUPO, A2.TG_CDESCRI AS DESCRI
FROM  dbo.ARTICULOS AS A1 INNER JOIN
               RSFACCAR.dbo.AL0012TABL AS A2 ON '39' + LEFT(A1.CODIGO, 5) = LTRIM(RTRIM(A2.TG_CCOD)) + A2.TG_CCLAVE COLLATE Modern_Spanish_CI_AI
